<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a>filter my portfolio</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>categories</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left" id="nav">
      <li class="">
        <a href="/photos">My portfolio</a>
      </li>
      <li class="">
        <a href="/weddings">Weddings</a>
      </li>
      <li class="has-dropdown">
        <a href="/events">Events</a>
       <ul  class="dropdown">
        <li><%= link_to 'SAIFF',  'event/SAIFF', remote: true%></li>
          <!-- <li id="shuffle"><a>shuffle</a></li> -->
        </ul>
      </li>
    </ul>

    <ul class"right">
      <li><%= link_to 'About me', "#" , data: {reveal_id: "aboutMe"}%></li>
    </ul>
  </section>

