<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a>filter my portfolio</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>categories</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
 <!--    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul> -->

    <!-- Left Nav Section -->
    <ul class="left" id="nav">
      <li class="has-dropdown">
          <a href="/photos">My portfilio</a>
       <ul  class="dropdown">
          <li data-filter="*"><a>all</a></li> 
          <li data-filter=".fashion"><a>fashion</a></li>
          <li data-filter=".beauty"><a>beauty</a></li>
          <li data-filter=".portrait"><a>portrait</a></li>
          <li data-filter=".family"><a>family</a></li>
          <li data-filter=".composite"><a>composite/HDR</a></li>
          <li data-filter=".landscape"><a>landscape</a></li>
          <!-- <li id="shuffle"><a>shuffle</a></li> -->
        </ul>
      </li>
    </ul>
  
    <ul class"right">
     <li><%= link_to 'Wedding', "/wedding" %></li> 
    </ul>
  </section>
</nav>
