.row
  %h3.about-us Welcome
  %p Anthony Edwards, Jr. strives to bring out the best in each of his clients. Whether you are new to modeling or experienced, camera shy or a lens lover, he will discover your unique spark and bring it into focus. 

  %p Beauty is Anthony's passion. His background as a professional dancer lends him an acute understanding of the ability of the human form to create beautiful imagery. His work becomes a dance led by a sense of harmony between movement, lighting, and the glowing individuality of his models. Anthony's dance knowledge connects with his experience in the U.S. Army to offer high-quality images at the highest level of professionalism.

  %p Though photo shoots for individuals are popular, a shoot can also be a fantastic way to capture the special moments between loved ones, whether you seek to create lasting memories of an engagement, wedding, or family get-together.

  %p As an art form, photography transforms the ordinary into the extraordinary. Over the course of your shoot, you will become anything you want to be, and your photographs may show you a side of yourself that you never knew existed. Each photograph will be worth a thousand words -- the words that illustrate your compelling story.
