<header class="row">
	<h1>AEvisionz</h1>
  <div class="categories">
    <ul>
      <li>all</li>
      <li>landscape</li>
      <li id="shuffle">shuffle</li>
    </ul>
  </div>
  <a href="#openModal" id="openM">Open Modal</a>
</header>
<section class="row ">
  <ul id="photos-list" class="row">
    <% @photos.each do |photo| %>
      <li class="small-12 medium-4 large-3 columns img-align" data-category="<%=photo.category%>"  >
       <%= link_to image_tag(photo.image.thumb('400x300#').url, alt: photo.title,  class:'images', id: :"#openModal", :"data-id" => photo.image_uid  ),
                     photo.image.remote_url, target: '_blank' %>
        <!-- <p><%= photo.title %></p> -->
      </li>
    <% end %>
  </ul>
</section>

<div id="openModal" class="modalDialog">
  <div class="columns small-12 medium-8 small-centered"> <a href="#close" title="Close" class="close" id="close">X</a>
    <div id="imageView"  class="columns small-12">
    </div>
  </div>
 </div> 
<footer class="row">
	
	<h3><%= link_to 'Add your photo', new_photo_path, class: 'btn btn-lg btn-primary' %></h3> 

</footer>

