<header class="row">
	<h1>AEvisionz</h1>
  <div class="categories">
    <ul id="nav">
      <li>all</li>
      <li>fashion</li>
      <li>beauty</li>
      <li>artist/heashots</li>
      <li id="landscape">landscape</li>
      <li id="shuffle">shuffle</li>
    </ul>
  </div>
  <a href="#openModal" id="openM">Open Modal</a>
</header>
<section class="row ">
  <ul id="photos-list" class="row">
    <% @photos.each do |photo| %>
      <li class="small-12 medium-4 large-3 columns img-align left" data-category="<%=photo.category%>"  >
       <%= link_to image_tag(photo.image.thumb('400x200#').url(name: photo.image_uid), alt: photo.title,  class:'images', id: :"#openModal", :"data-id" => photo.image_uid  ),
                     "http://d3qsxujqwcvsf0.cloudfront.net/"+photo.image_uid, target: '_blank' %>
        <!-- <p><%= photo.image.url%></p> -->
      </li>
    <% end %>
  </ul>
</section>

<div id="openModal" class="modalDialog">
  <div class="columns small-12 medium-8 small-centered"> <a href="#close" title="Close" class="close" id="close">X</a>
    <div id="imageView"  class="columns small-12">
    </div>
  </div>
 </div> 
<footer class="row">
	
	<h3><%= link_to 'Add your photo', new_photo_path, class: 'btn btn-lg btn-primary' %></h3> 

</footer>

