<header>
	<h1>AEvisionz</h1>
	 
</header>
<ul class="row" id="photos-list">
  <% @photos.each do |photo| %>
    <li class="spacing">
     <%= link_to image_tag(photo.image.thumb('x200').url, alt: photo.title,class:'images'),
                   photo.image.url, target: '_blank' %>
      <!-- <p><%= photo.title %></p> -->
    </li>
  <% end %>
</ul>

<footer>
	
	<h3><%= link_to 'Add your photo', new_photo_path, class: 'btn btn-lg btn-primary' %></h3>

</footer>