.wedding_header{
	background-color: rbg(255,255,255);
	color:rgb(167, 0, 0);
}

.wedding_header a{
	color: rgb(167, 0, 0);
}

.wedding_header a:hover{
	color: rgb(167, 0, 150);
}

.contact .wedding-line{
	color:rgb(167, 0, 0);
	text-align: left;
}

.wedding-color i:hover{
	color: rgb(167, 0, 150);
}
.contact .wedding-line:hover{
	color: rgb(167, 0, 150);
}
.wedding_header .wedding-nav a{
		color: rgb(167, 0, 0);
}
